.text-color{
    color: blue;
    
}

.second-color {
    color: white
}

.text{
    font-size: 50px;
}

.cont1{
    display: flex;
    gap: 20px;
}

.cont2{
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.caption{
    padding-left: 15px;
}

.btn{
    
    padding: 10px 20px ;
    border-radius: 5px ;
    font-size: 16px ;
}

.btn:hover{
    background-color: lightblue !important;
    opacity: 0.8 !important;
}