/* .cont{
    justify-items: center;
    margin-top: 80px;
    margin-bottom: 70px;
}
.btn:hover{
    background-color: lightblue !important;
    opacity: 0.8 !important;
}
.capt{
    margin-top: 100px;
}
.values{
    margin-right: 300px;
} */

.about-us-container {
    margin-top: 2rem;
  }
  
  .aboutImage {
   width: 300px;
   height: 270px;
  }
  /* Responsive Styles (adjust as needed) */
  @media (max-width: 768px) {
    /* Adjust column widths for smaller screens */
    .about-us-container .row {
      flex-direction: column; 
    }
  }