.CardContainer{
  width:17rem;
  transition: 0;
  border-radius:0;
  height:450px;
  transition: 0s;
  text-align:center;
  object-fit: cover;
  overflow: hidden;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0,0,0,0.19);
  /* color: rgb(194, 194, 194); */
}

.CardContainer:hover{
  transform: translateY(-10px); /* Moves the box 10px up */
  /* box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);  */
  transition: 0.5s;
}

.Imgpic {
  width: 100%;
  height: 200px;
  border-radius: 0
}

.Imgpic:hover{
  transform: scale(1.1);
  transition: 0.5s;
}