.topside {
  margin-top: 60px;
}


/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .carousel-img {
      height: 300px !important;
      width: 100% !important;
      object-fit: contained !important;
      transition: height 0.5s ease !important;

    }
  }
  
  /* Medium devices (tablets, 768px to 992px) */
  @media (min-width: 768px) and (max-width: 992px) {
    .carousel-img {
      height: 400px;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .carousel-img {
      height: 500px;
    }
  }

