.sidebar {
  display: flex !important;
  flex-direction: column !important; /* Default to column */
}

.bg-t {
    background-color: #0a4275
}

@media (max-width: 767px) {
  /* Small screens */
  .sidebar {
    flex-direction: row !important; /* Switch to row on small screens */
  }

  .sidebar .nav-link {
    margin-bottom: 0 !important; /* Remove vertical spacing for row layout */
    flex: 1 !important; /* Make each nav item take equal space */
    justify-content: center !important; /* Center the icons */
  }

  .sidebar .label {
    display: none !important; /* Hide labels on small screens */
  }
}